body {
  font-family: 'Spartan', sans-serif;
}

.main-container {
  margin: 8% 10% 0;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #511f50;
  line-height: 100%;
}

h2 {
  color: #a0446d;
  margin: 0;
  font-size: 0.7rem;
}

h3 {
  color: #723470;
  display: inline-block;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 800;
}

p {
  color: #937B92;
  font-size: 0.8rem;
  line-height: 180%;
  font-weight: 500;
}

table {
  table-layout: fixed;
  border-collapse: separate; border-spacing: 10px;
}

td {
}

a {
  color: #f1ddf0;
}

.title {
  max-width: 100%;
  margin: 0 6rem 4rem 0;
  width: 410px;
  display: inline-block;
}

.rates-container {
  max-width: 100%;
  display: inline-block;
}

.first-rate {

}

.second-rate {

}

.rates {
  width: 400px;
  background-color: #F7F2F7;
  padding: 14px;
  margin: 1rem 10%;
  border-radius: 7px;
}

.first-review {
}

.second-review {

}

.third-review {
}

.reviews {

  padding: 35px 27px 20px;
  background-color: #511f50;
  width: 254px;
  display: inline-block;
  border-radius: 7px;
  text-align: left;
}

.profile-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  margin-right: 20px;
}

.names {
  color: #f7f2f7;
  margin-bottom: 5px;
}

.reviews-text {
  color: #ebe3ed;
  font-size: 0.7rem;
  margin-top: 30px;
}

.stars {
  display: inline-block;
  margin: 2px 30px 0 17px;
}

.star {
  height: 14px;
  margin: 0 2px;
}

.attribution{
  max-width: 100%;
  margin: 50px auto 0;
  color: #f1ddf0;
  width: 450px;
}
